<% object_article.each do |article| %>
	<div class="well">
		<h3><%= article.title %></h3>
		<p><%= truncate(article.description, length: 100) %></p>
		<div class="article-meta-details">
			<small>
				Created by: <%= article.user.username %>, <%= time_ago_in_words(article.created_at) %> ago,
				last updated: <%= time_ago_in_words(article.updated_at) %> ago.
			</small>
		</div>
		<p> <%= link_to "Read More", article_path(article),  class: 'btn btn-s btn-success' %></p>
	</div>
<% end  %>