<h1 align="center">Welcome to <%= @user.username %>'s page</h1>	

<div class="row">
	<div class="col-xs-4 col-xs-offset-4 center">
		<%= gravatar_for @user, size: 150 %>
	</div>
</div>	

<h4 align="center">
	<%= @user.username %>'s articles
</h4>

<h5 align="center">
	<!-- <%= debug(@user) %>     USE this to debug from the client side -->
	<% if logged_in? && current_user.admin? %>
		<%= link_to "Delete this user and their articles", user_path(@user), method: :delete, 
						data: {confirm: "Are you sure?"} %>
	<% end %>
</h5>


<div align="center">
	<%= will_paginate @user_articles %>
</div>
<%= render 'articles/article', object_article: @user_articles %>
<div align="center">
	<%= will_paginate @user_articles %>
</div>








